body {
    font-family: 'Open Sans', sans-serif;
}

.menu-fixo {
    position: fixed;
    z-index: 11;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-section-um {
    padding-top: 70px;
}

.menu-monitor {
    display: none;
}

.menu-mobile {
    display: block;
}

.fa-bars{
    color: #274D80;
    font-size: 1.5em;
    margin-top: 8px;
    cursor: pointer;
}

.imagem-menu {
    height: 45px;
    margin-right: 8px;
}

.nome-menu {
    font-size: 1.4em;
    color: #274D80;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    text-decoration: none !important;
    margin-right: -5px;
    margin-left: -5px;
}

.link-menu {
    font-size: 0.75em;
    text-decoration: none !important;
    margin-left: 13px;
    font-weight: 500;
    color: #343a40!important;
}

.link-menu:hover {
    color: #274D80 !important;
}

.fa-chevron-down {
    margin-left: 2px;
    font-size: 0.8em;
}

.btn-post {
    background-color: #274D80;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    width: 130px;
    height: 35px;
    margin-top: 6px;
    border-radius: 7px;
}

.btn-post:hover {
    background-color: white;
    color: #274D80;
    border: #274D80 solid 2px;
}

.btn-login {
    background-color: #00000024;
    color: #274D80;
    font-size: 0.8em;
    font-weight: 600;
    width: 130px;
    height: 35px;
    margin-top: 6px;
    border-radius: 7px;
}

.btn-login:hover {
    background-color: white;
    color: #274D80;
    border: #274D80 solid 2px;
}

.btn-upload {
    background-color: transparent;
    font-size: 0.8em;
    font-weight: 600;
    color: #274D80;
    height: 35px;
    text-decoration: none;
    margin-top: 6px;
    border-radius: 7px;
}

.btn-upload:hover {
    background-color: white;
    color: #274D80;
    border: #274D80 solid 2px;
}

a:hover {
    text-decoration: none !important;
}

.bg-section-um {
    background-image: url(../Imagens/BgSectionUm.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    order: 1;
}

.cor-azul {
    color: #274D80;
}

.div-section-um {
    padding: 70px 0px 50px 0px;
    order: 2;
}

.titulo-section-um {
    font-weight: 600;
    font-size: 1.9em;
}

.texto-principal {
    font-weight: 600;
    font-size: 0.7em;
}

.div-inputs {
    height: auto;
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 10%);
    margin-left: 0px;
}

.input-cidade {
    border: unset;
    width: 95%;
    height: 50px;
    font-size: 0.75em;
    padding-left: 40px;
    margin-top: 6px;
}

.input-trabalho {
    border: unset;
    width: 95%;
    height: 50px;
    font-size: 0.75em;
    padding-left: 40px;
    margin-top: 6px;
    margin-left: 10px;
}

.fa-search {
    position: absolute;
    left: 20px;
    top: 23px;
    font-size: 1.3em;
}

.map-section-um {
    position: absolute;
    left: 20px;
    top: 22px;
    font-size: 1.3em;
}

.btn-div-input {
    background-color: #274D80;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 7px;
}

.btn-div-input:hover {
    background-color: white;
    color: #274D80;
    border: #274D80 solid 2px;
}

.icone-envelope {
    color: gold;
    background-color: rgba(255, 217, 0, 0.178);
    border-radius: 7px;
    position: absolute;
    font-size: 1em;
    width: 35px;
    height: 35px;
    padding-left: 10px;
    padding-top: 4px;
    left: 7px;
    top: 7px;
}

.texto-envelope {
    font-weight: 700;
    font-size: 0.68em;
    margin-left: 4px;
    padding-top: 11px;
}

.div-envelope {
    width: 175px;
    height: 47px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 10%);
    position: absolute;
}

.fa-check-circle {
    color: rgba(255, 0, 0, 0.144);
    position: absolute;
    font-size: 1.3em;
    top: 14px;
    right: 10px;
}

.icone-mala {
    color: red;
    background-color: rgba(255, 0, 0, 0.144);
    border-radius: 100%;
    position: absolute;
    font-size: 1em;
    width: 35px;
    height: 35px;
    padding-left: 10px;
    padding-top: 4px;
    left: 7px;
    top: 7px;
}

.div-agencia {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 10%);
    position: absolute;
}

.div-upload {
    width: 208px;
    height: 52px;
    padding-left: 35px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 10%);
    position: absolute;
}

.icone-upload {
    width: 45px;
    height: 45px;
    font-size: 1.4em;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 15%);
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 15px;
    position: absolute;
    top: -18px;
    left: -48px;
    
}
.imagens-cadidates{
    border-radius: 100%;
    border: 2px solid white;
    height: 35px;
    margin-right: -17px;
}

.div-candidates {
    width: 135px;
    height: 80px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 10%);
    position: absolute;
}

.bg-main-section {
    background-color: rgba(0, 0, 0, 0.459);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.titulo-sections {
    font-size: 1.6em;
    font-weight: 600;
    color: #274D80 !important;
}

.descricao-sections {
    font-size: 0.8em;
}

.icone-popular-job {
    color: #274D80;
    background-color: hsl(230deg 19% 94%);
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 14px;
    font-size: 1.3em;
    border-radius: 8px;
    margin: 10px 13px 10px 13px;
}

.icone-popular-job:hover {
    color: hsl(230deg 19% 94%);
    background-color: #274D80;
}

.card-popular-job {
    text-align: left;
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.card-popular-job:hover {
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 15%);
}

.titulo-popular-jobs {
    font-size: 14px;
}

.div-divisor {
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    width: 100%;
}

.card-featured-jobs {
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
}

.div-full-time {
    font-size: 0.8em;
    background-color: hsl(214deg 67% 92%);
    height: 25px;
    width: 125px;
    border-radius: 20px;
    padding-top: 2px;
    margin-left: 15px;
    text-align: center;
    font-weight: 500;
}

.div-private {
    font-size: 0.8em;
    background-color: hsl(131deg 36% 91%);
    height: 25px;
    width: 80px;
    border-radius: 20px;
    padding-top: 2px;
    text-align: center;
    font-weight: 500;
}

.div-urgent {
    font-size: 0.8em;
    background-color: hsl(40deg 95% 93%);
    height: 25px;
    width: 80px;
    border-radius: 20px;
    padding-top: 2px;
    text-align: center;
    font-weight: 500;
}

.imagem-feature-jobs {
    height: 45px;
    border-radius: 8px;
    margin-right: 25px;
    margin-top: 7px;
}

.btn-more-listing {
    background-color: #274D80;
    color: white;
    font-size: 0.85em;
    font-weight: 600;
    width: 180px;
    height: 45px;
    border-radius: 7px;
}

.imagens-logo {
    height: 30px;
}

.imagem-notebook {
    height: 520px;
    border-radius: 10px;
    transform: rotatey(180deg);
}

.texto-lista {
    list-style: none;
    font-size: 0.9em;
    line-height: 50px;
    padding-left: unset;
}

.icone-lista{
    color: #274D80;
    padding-right: 10px;
}

.div-empregadores {
    width: 250px;
    height: 130px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 8%);
    position: absolute;
    bottom: -65px;
    right: -90px;
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 27px;
    z-index: 1;
}

.imagens-empregadores{
    border-radius: 100%;
    border: 2px solid white;
    height: 45px;
    margin-right: -17px;
}

.texto-div-empregadores {
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 10px;
}

.icone-check-empregadores {
    height: 55px;
    width: 55px;
    color: white;
    background-color: #274D80;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 8%);
    position: absolute;
    top: -45px;
    left: -18px;
}

.titulo-section-notebook {
    font-weight: 600;
    font-size: 1.9em;
}

.imagem-card-noticias {
    border-radius: 5px;
    height: 210px;
}

.card-noticias {
    padding: 10px;
    border: unset;
    box-shadow: 0px 4px 35px 0px rgb(70 86 117 / 8%);
}

.descricao-card-noticias {
    font-size: 0.8em;
}

.link-card-noticias {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 500;
}

.link-card-noticias:hover {
    color: #274D80 !important;
}

.subtitulo-download {
    font-size: 0.95em;
    font-weight: bold;
    color: #274D80;
}

.btn-download {
    display: flex;
    text-decoration: none;
    color: white !important;
    background-image: linear-gradient(to bottom left, black, #274D80);
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
}


.fa-apple {
    font-size: 2.5em;
    margin-top: 2px;
    margin-right: 20px;
}

.fa-google-play {
    font-size: 2em;
    margin-top: 8px;
    margin-right: 20px;
}

@media (max-width: 330px) {

    .bg-main-section {
        display: block;
    }

    .bg-section-um {
        height: 350px;
    }

    .bg-main-section {
        display: block;
    }

    .div-envelope {
        top: 25px;
        left: unset;
        right: 35px;
        z-index: 8;
    }

    .div-candidates {
        right: unset;
        left: 30px;
        top: 95px;
        z-index: 8;
    }

    .div-agencia {
        right: 25px;
        top: 200px;
        z-index: 8;
    }

    .div-upload {
        bottom: 40px;
        left: 35px;
        bottom: 17px;
        z-index: 8;
    }

    .titulo-section-um {
        font-size: 1.6em;
    }

    .div-inputs {
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }

    .imagem-menu {
        height: 40px;
    }

    .fa-bars {
        font-size: 1.4em;
    }

    .icone-popular-job {
        margin: 10px 0px 10px 10px;
        padding-top: 10px;
        padding-left: 13px;    
    }

    .titulo-popular-jobs {
        font-size: 11px;
    }

    .descricao-sections {
        font-size: 0.6em;
    }

    .card-popular-job {
        display: inline-block !important;
        height: 155px;
        width: 135px;
        padding-top: 11px;
        padding-left: 2px;
    }

    .p-card-popular-jobs {
        padding-top: unset;
    }

    .div-full-time {
        font-size: 0.56em;
        height: 20px;
        width: 80px;
    }
    
    .div-private {
        font-size: 0.56em;
        height: 20px;
        width: 55px;
    }
    
    .div-urgent {
        font-size: 0.56em;
        height: 20px;
        width: 55px;
    }

    .imagem-feature-jobs {
        height: 40px;
        margin-right: 20px;
    }

    .imagens-logo {
        height: 20px;
    }

    .div-empregadores {
        display: none;
    }

    .imagem-notebook {
        height: 265px;
        margin-top: 40px;
    }

    .ordem-imagem-notebook {
        order: 2;
    }

    .ordem-texto-notebook  {
        order: 1;
        margin-top: 30px;
    }

    .ordem-dados-notebook  {
        order: 3;
    }

    .titulo-section-notebook {
        font-size: 1.35em;
    }

    .texto-lista {
        font-size: 0.73em;
        line-height: 35px;
        padding-left: 10px !important;
    }

    .imagem-card-noticias {
        height: auto;
    }

    .card-noticias {
        margin-bottom: 15px;
    }
    
    .link-card-noticias {
        font-size: 0.65em;
    }

    .padding-card-body {
        padding: 5px;
    }

    .descricao-card-noticias {
        font-size: 0.7em;
    }

    .btn-download {
        padding: 7px;
        font-size: 0.65em;
        width: 105px;
    }

    .fa-apple {
        font-size: 1.65em;
        margin-top: 4px;
        margin-right: 8px;
    }
    
    .fa-google-play {
        font-size: 1.45em;
        margin-top: 6px;
        margin-right: 8px
    }

    .input-1-responsivo {
        width: 97%;
    }
    
    .input-2-responsivo {
        width: 97%;
    }

    .btn-div-input br {
        display: none;
    }

}

@media (max-width: 425px) and (min-width:  331px) {

    .bg-section-um {
        height: 365px;
    }

    .bg-main-section {
        display: block;
    }

    .div-envelope {
        top: 25px;
        left: unset;
        right: 50px;
        z-index: 8;
    }

    .div-candidates {
        right: unset;
        left: 60px;
        top: 95px;
        z-index: 8;
    }

    .div-agencia {
        right: 38px;
        top: 200px;
        z-index: 8;
    }

    .div-upload {
        bottom: 40px;
        left: 35px;
        bottom: 17px;
        z-index: 8;
    }

    .div-inputs {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .titulo-section-um {
        font-size: 1.6em;
    }

    .imagem-menu {
        height: 40px;
    }

    .fa-bars {
        font-size: 1.4em;
    }

    .icone-popular-job {
        margin: 10px 10px 10px 10px;
    }

    .titulo-popular-jobs {
        font-size: 11px;
    }

    .descricao-sections {
        font-size: 0.68em;
    }

    .card-popular-job {
        display: inline-block !important;
        height: 160px;
        width: 135px;
        padding-top: 13px;
        padding-left: 2px;
    }

    .p-card-popular-jobs {
        padding-top: 5px !important;
    }

    .div-full-time {
        font-size: 0.62em;
        height: 20px;
        width: 84px;
    }
    
    .div-private {
        font-size: 0.62em;
        height: 20px;
        width: 61px;
    }
    
    .div-urgent {
        font-size: 0.62em;
        height: 20px;
        width: 61px;
    }

    .imagem-feature-jobs {
        height: 40px;
        margin-right: 20px;
    }

    .imagens-logo {
        height: 20px;
    }

    .div-empregadores {
        display: none;
    }

    .imagem-notebook {
        height: 280px;
        margin-top: 40px;
    }

    .ordem-imagem-notebook {
        order: 2;
    }

    .ordem-texto-notebook  {
        order: 1;
        margin-top: 30px;
    }

    .ordem-dados-notebook  {
        order: 3;
    }

    .titulo-section-notebook {
        font-size: 1.35em;
    }

    .texto-lista {
        font-size: 0.73em;
        line-height: 35px;
        padding-left: 10px !important;
    }

    .imagem-card-noticias {
        height: auto;
    }

    .card-noticias {
        margin-bottom: 15px;
    }
    
    .link-card-noticias {
        font-size: 0.65em;
    }

    .padding-card-body {
        padding: 5px;
    }

    .descricao-card-noticias {
        font-size: 0.7em;
    }

    .btn-download {
        padding: 7px;
        font-size: 0.65em;
        width: 105px;
    }

    .fa-apple {
        font-size: 1.65em;
        margin-top: 4px;
        margin-right: 8px;
    }
    
    .fa-google-play {
        font-size: 1.45em;
        margin-top: 6px;
        margin-right: 8px
    }

    .input-1-responsivo {
        width: 97%;
    }
    
    .input-2-responsivo {
        width: 97%;
    }

    .btn-div-input br {
        display: none;
    }

}

@media (max-width: 575px) and (min-width:  426px) {

    .bg-section-um {
        height: 350px;
    }

    .div-envelope {
        top: 15px;
        left: 35px;
    }

    .div-candidates {
        right: 5px;
        top: 60px;
    }

    .div-agencia {
        right: 15px;
        top: 220px;
    }

    .div-upload {
        bottom: 40px;
        left: 20px;
        bottom: 17px;
    }

    .div-inputs {
        margin-left: auto;
        margin-right: auto;
        width: 380px;
    }

    .imagem-menu {
        height: 40px;
    }

    .icone-popular-job {
        margin: 10px 5px 10px 10px;
    }

    .titulo-popular-jobs {
        font-size: 12px;
    }

    .descricao-sections {
        font-size: 0.68em;
    }

    .card-popular-job {
        height: 93px;
        padding-top: 9px;
    }

    .imagens-logo {
        height: 22px;
    }
    
    .div-empregadores {
        display: none;
    }

    .imagem-notebook {
        height: 350px;
        margin-top: 40px;
    }

    .ordem-imagem-notebook {
        order: 2;
    }

    .ordem-texto-notebook  {
        order: 1;
        margin-top: 30px;
    }

    .ordem-dados-notebook  {
        order: 3;
    }

    .titulo-section-notebook {
        font-size: 1.5em;
    }

    .texto-lista {
        font-size: 0.78em;
        line-height: 35px;
    }

    .imagens-empregadores {
        height: 38px;
    }

    .card-noticias {
        margin-bottom: 20px;
    }

    .btn-download {
        padding: 8px 10px 8px 10px;
        font-size: 0.8em;
        width: 145px;
    }

    .fa-apple {
        font-size: 1.85em;
        margin-top: 9px;
        margin-right: 15px;
    }
    
    .fa-google-play {
        font-size: 1.7em;
        margin-top: 10px;
        margin-right: 15px
    }

    .btn-div-input br {
        display: none;
    }

    .input-1-responsivo {
        width: 97%;
    }
    
    .input-2-responsivo {
        width: 97%;
    }

}

@media (max-width: 767px) and (min-width: 576px) {

    .bg-section-um {
        height: 400px;
    }

    .imagens-cadidates{
        margin-right: -13px;
    }

    .div-envelope {
        top: 20px;
        left: 50px;
    }

    .div-candidates {
        width: 160px;
        right: 9px;
        top: 75px;
    }

    .div-agencia {
        right: 45px;
        top: 270px;
    }

    .div-upload {
        bottom: 40px;
        left: 20px;
        padding-left: 30px;
    }

    .map-section-um {
        position: absolute;
        left: 23px;
    }
    
    .input-trabalho {
        padding-left: 35px;
    }

    .div-inputs {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }

    .input-1-responsivo {
        width: 55%;
    }

    .input-2-responsivo {
        width: 45%;
    }

    .btn-div-input br {
        display: none;
    }

    .icone-popular-job {
        margin: 10px 10px 10px 10px;
    }

    .titulo-popular-jobs {
        font-size: 12px;
    }

    .imagens-logo {
        height: 23px;
    }

    .div-empregadores {
        width: 220px;
        height: 100px;
        padding-top: 15px;
        bottom: unset;
        right: unset;
        top: 25px;
        left: 160px;    
    }

    .icone-check-empregadores {
        height: 40px;
        width: 40px;
        font-size: 1.1em;
        top: -28px;
        left: -15px;
        padding-top: 7px;
    }

    .imagem-notebook {
        height: 380px;
        margin-top: 80px;
        margin-bottom: 50px;   
    }

    .titulo-section-notebook {
        font-size: 1.5em;
    }

    .texto-lista {
        font-size: 0.78em;
        line-height: 35px;
    }

    .imagens-empregadores {
        height: 38px;
    }

    .card-noticias {
        margin-bottom: 20px;
    }

    .btn-download {
        padding: 8px 10px 8px 10px;
        font-size: 0.9em;
    }
    
    .fa-apple {
        font-size: 1.85em;
        margin-top: 9px;
        margin-right: 15px;
    }
    
    .fa-google-play {
        font-size: 1.7em;
        margin-top: 10px;
        margin-right: 15px
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .bg-section-um {
        height: 450px;
    }

    .imagens-cadidates{
        margin-right: -13px;
    }
    
    .div-envelope {
        top: 20px;
        left: 102px;
    }

    .div-candidates {
        width: 160px;
        right: 55px;
        top: 75px;
    }

    .div-agencia {
        right: 122px;
        top: 285px;
    }

    .div-upload {
        bottom: 55px;
        left: 55px;
        height: 61px;
        padding-left: 45px;
    }

    .icone-upload {
        top: -15px;
        left: -56px;
    }

    .btn-div-input {
        width: 100%;
        margin-top: unset;
        height: 60px;
    }

    .input-1-responsivo {
        width: 50%;
    }

    .input-2-responsivo {
        width: 50%;
    }

    .imagens-logo {
        height: 25px;
    }

    .div-empregadores {
        width: 200px;
        height: 90px;
        padding-top: 12px;
        bottom: -50px;
        right: -75px;    
    }

    .icone-check-empregadores {
        height: 35px;
        width: 35px;
        font-size: 1em;
        top: -28px;
        left: -15px;
        padding-top: 6px;
    }

    .imagem-notebook {
        height: 400px;
    }

    .titulo-section-notebook {
        font-size: 1.5em;
    }

    .texto-lista {
        font-size: 0.78em;
        line-height: 35px;
    }

    .imagens-empregadores {
        height: 38px;
    }

    .imagem-card-noticias {
        height: 120px;
    }
    
    .card-noticias {
        height: 330px;
    }
    
    .link-card-noticias {
        font-size: 0.65em;
    }

    .padding-card-body {
        padding: 5px;
    }

    .descricao-card-noticias {
        font-size: 0.7em;
    }

    .btn-download {
        padding: 8px 10px 8px 10px;
        font-size: 0.9em;
    }
    
    
    .fa-apple {
        font-size: 1.85em;
        margin-top: 9px;
        margin-right: 15px;
    }
    
    .fa-google-play {
        font-size: 1.7em;
        margin-top: 10px;
        margin-right: 15px
    }
}

@media (max-width: 1200px) and (min-width: 992px) {

    .menu-monitor {
        display: block;
    }

    .menu-mobile {
        display: none;
    }

    .imagem-menu {
        height: 40px;
        margin-right: 2px;
    }

    .nome-menu {
        font-size: 1.15em;
        margin-left: unset;
    }

    .link-menu {
        font-size: 0.619em;
        margin-left: 11px;
    }

    .btn-post {
        font-size: 0.61em;
        width: 100px;
        margin-top: 3px;
    }
    
    .btn-login {
        font-size: 0.61em;
        width: 100px;
        margin-top: 3px;
        padding-left: 10px;
    }
    
    .btn-upload {
        font-size: 0.65em;
        margin-top: 3px;
    }

    .bg-section-um {
        height: 410px;
        order: 2 !important;
    }

    .div-section-um {
        padding: 85px 0px 70px 15px;
        order: 1 !important;
    }

    .titulo-section-um {
        font-size: 2.2em;
    }

    .btn-div-input {
        font-size: 0.7em;
        width: 100px;
        margin-top: unset;
        margin-left: -15px;
    }
    
    .fa-search {
        font-size: 1em;
        left: 17px;
        top: 17px;
    }

    .input-trabalho {
        font-size: 0.7em;
        padding-left: 24px;
        margin-top: unset !important;
    }

    .map-section-um {
        font-size: 1em;
        top: 18px;
        left: 4px;
    }

    .input-cidade {
        font-size: 0.7em;
        padding-left: 18px;
        margin-top: unset !important;
    }

    .div-inputs {
        margin-right: 15px;
        height: 70px;
    }

    .div-candidates {
        width: 160px;
        right: -8px;
        top: 28px;
    }

    .div-upload {
        bottom: 25px;
        left: 5px;
        width: 195px;
    }

    .icone-upload {
        top: -20px;
        left: -48px;
    }

    .div-envelope {
        top: 35px;
        left: -6px;
        width: 170px;
    }

    .texto-envelope {
        font-size: 0.65em;
    }

    .div-agencia {
        right: 24px;
        top: 280px;
    }

    .imagens-cadidates {
        border: 2px solid white;
        height: 40px;
        margin-right: -18px;
    }

    .div-candidates {
        width: 180px;
        height: 85px;
        right: -5px;
        top: 50px;
    }
    .imagem-notebook {
        height: 480px;
    }

    .div-empregadores {
        width: 230px;
        height: 105px;
        padding-top: 15px;
    }

    .icone-check-empregadores {
        height: 50px;
        width: 50px;
        font-size: 1.3em;
        top: -35px;
        left: -15px;
    }

    .imagem-card-noticias {
        height: 170px;
    }
    
    .card-noticias {
        height: 390px;
    }

    .btn-download {
        padding: 8px 8px 8px 8px;
    }
    
    .fa-apple {
        font-size: 1.85em;
        margin-top: 9px;
        margin-right: 12px;
    }
    
    .fa-google-play {
        font-size: 1.7em;
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 1201px) {

    .menu-monitor {
        display: block;
    }

    .menu-mobile {
        display: none;
    }

    .div-section-um {
        padding: 85px 0px 70px 15px;
        order: 1 !important;
    }

    .bg-section-um {
        order: 2 !important;
    }

    .div-inputs {
        margin-right: 15px;
    }

    .input-cidade {
        margin-top: 7px;
    }

    .input-trabalho {
        margin-top: 7px;
    }

    .map-section-um {
        top: 23px;
    }

    .fa-search {
        top: 23px;
    }

    .btn-div-input {
        width: 130px;
        margin-top: unset;
        height: 60px;
        margin-left: -20px;
    }

    .titulo-section-um {
        font-size: 2.4em;
    }

    .icone-envelope {
        font-size: 1.4em;
        width: 45px;
        height: 45px;
        padding-left: 12px;
        padding-top: 6px;
        left: 12px;
        top: 8px;
    }

    .div-envelope {
        width: 201px;
        height: 60px;
        top: 46px;
        left: -6px;
    }

    .icone-mala {
        font-size: 1.4em;
        width: 45px;
        height: 45px;
        padding-left: 12px;
        padding-top: 6px;
        left: 12px;
        top: 8px;
    }

    .texto-envelope {
        font-size: 0.7em;
        margin-left: 22px;
        padding-top: 16px;
    }

    .div-agencia {
        width: 220px;
        height: 60px;
        right: 24px;
        top: 350px;
    }

    .fa-check-circle {
        font-size: 1.7em;
        top: 16px;
        right: 13px;
    }

    .imagens-cadidates {
        border: 3px solid white;
        height: 50px;
        margin-right: -20px;
    }

    .div-candidates {
        width: 210px;
        height: 100px;
        right: 0px;
        top: 90px;
    }

    .div-upload {
        width: 210px;
        height: 60px;
        padding-left: 10px;
        bottom: 40px;
        left: 30px;
    }

    .icone-upload {
        width: 50px;
        height: 50px;
        padding-top: 7px;
        padding-left: 17px;
    }
}